.App {
  text-align: center;
  overflow: scroll visible;

}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;

}

.App-link {
  color: #09d3ac;
}

.image {

margin-left: auto;
margin-right: auto;
width: 50vw;
max-width:500px;
display:block;

}

.title {

 font-size:8vw;
  text-align: center;
  line-height: 20px;
color:white;
  margin-top: -150px;

  
}


@media only screen and (min-width: 900px) {
  div.title {
      font-size: 70px;
      margin-top: 50px;
  }
}



.enter a {

  text-align: center;
  margin-left: 0px;
  margin-right:0px;
  font-size: 20px;
}

.explanation {

   text-align: center;
  margin-left: auto;
  margin-right:auto;
  font-size: 20px;
  width: 350px;
  color: white;
 
}

