#submit {

    color:white;

}

.words{
    background: black;
    margin-left: 20rem;
    margin-bottom: 10rem;
    color: white;
    padding: 15px;
    width: 50%;
    overflow: scroll;
    border: 1px solid #ccc;
    
}
