html{
    overflow: hidden;
}

.welcome-message{
    margin-bottom: 4rem;

}

div.resultscontaine{
/* margin-left: 100px; */
text-align: center;
}

.instruct{
    float:left
}
.result{
    float: right;
}