.auth-wrapper {



}



.welcome-message{
    margin-bottom: 4rem;

}

h1{
    color: red;
}

div.resultscontainer{
/* margin-left: 100px; */
text-align: center;
}

  
  .column {
      margin-left: 230px;
    float: left;
    /* width: 33.33%; */
  
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

 .photo{
    border-radius: 50%;
  }


  .bob {

    font-size: 20px;
margin-left: auto !important;
margin-right: auto !important;
display: block;


  }
#whatever {

  margin-right: 0px !important;
   width: 40vw;
}
#whatever2 {

  margin-right: 0px !important;
  width: 40vw;
}

#PlayGame {

  color: red;
  font-size: 30px;
  margin-left:auto;
  margin-right:auto;
  

}
#PlayGame2 {

  color: red;
  font-size: 30px;
   margin-left:auto;
  margin-right:auto;
 

}
#separator {

  line-height: 30px;
}


  .gameDiv{
    margin-left: 200px;
  }

